
nav{
    margin-bottom: 5%;
}

nav li{
    display:inline;
    text-decoration: none;
    border:1px solid brown;
    background-color:bisque;
    padding: 10px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color:brown;
}

div.cats{
    display:inline-flex;
    flex-wrap:wrap;
}

img{
    width:30%;
    border:3px solid brown;
}

img.description{
    width: 40%;
    padding:5px;
}
p.description{
    padding:10px;
}
.description{
    display:inline-flex;
    margin-right:5%;
    margin-left: 5%;
    justify-content: space-between;
}